body{
    font-family: 'Roboto', sans-serif;
}

.custom-gradient-text{
    background: linear-gradient(to right, #ED213A, #93291E);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.head-lines{
    font-family:'Bebas Neue', serif;
}
.card:hover{
    transform:translateY(-20px);
    transition-duration: 0.7s;
    border: 2px, solid;
    border-color: #93291E;
}


.card-qol:hover{
    border: 3px, solid, #198754;

}
.card-wpn:hover{
    border: 3px, solid, #0d6efd;
}
.card-vh:hover{
    border: 3px, solid, #ffc107;
}